.home-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url(./pattern.svg)    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}